.App {
  text-align: center;
  font-family: 'Caveat', cursive;
}

.homePage {
  align-items: center;
}

.home-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav{
  font-family: 'Sriracha', cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(188, 214, 231, 0.76);
}


.links {
  widows: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.Typography{
  justify-content: space-around;
  font-family: 'Caveat', cursive;
}

.intro-links-area{
  font-family: 'Sriracha', cursive;
  display: inline;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  background: rgb(222, 225, 245);
}

.Food1 {
  align-items: center;
  text-align: center;
}
